@import "../../../../scss/variables";

.TaskItem {
  width: 100%;
  display: flex;
  border-radius: 10px;
  user-select: none;
  transition: none;
  padding-left: $wrap-check-icon-width;
  cursor: grab;

  &.done {
    background: #f5f6f8;

    .ant-card-meta-title {
      color: #aaa;
    }

    .ant-card-actions li:first-child {
      display: none;
    }
  }

  .ant-card-body {
    width: 100%;
    padding: 10px 10px 10px 0;

    .ant-card-meta {

      &-title {
        white-space: normal;
      }

      &-description {
        font-size: 9px;
        line-height: 11px;
      }

    }
  }

  .anticon-clock-circle {
    margin-right: 5px;
  }

  .ant-card-actions {
    border-top: none;
    border-left: 1px solid #e8e8e8;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: inherit;
    min-height: 61px;

    & > li {
      margin: 3px;
      width: 100% !important;

      & > span > .anticon {
        font-size: 12px;
      }
    }
  }
}
