.TaskStatus {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer; }
  .TaskStatus .anticon {
    font-size: 25px;
    color: #ccc; }
    .TaskStatus .anticon.anticon-check-square {
      color: #05b705; }
