.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  min-height: 100vh; }
  .Login .form {
    max-width: 300px;
    width: 300px; }
  .Login .form-forgot {
    float: right; }
  .Login .form-button {
    width: 100%; }
